<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @article.title%></td>
      <td><%= @article.body%></td>
      <td><%= link_to "Edit" , edit_article_path %></td>
    </tr>
  </tbody>
</table>

<h4 class="text-success text-center">Comments</h4>
<%= render "comments/comments"%>
<h4 class="text-success text-center">Add a Comment</h4>
<%= render "comments/form"%>
